@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin-top: 50px;
    padding:0;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}
.bg-image{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    width:100%;
    min-width: 1728px;
    min-height: 1080px;
}
.footer {
    position: fixed;
    right: 5%;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: gray;
}
.logo{
    width: 50%;
}